# Node.js dependencies
node_modules/
vscodex/node_modules/
server/node_modules/

# secret
core/ai/.vault.txt

# Runtime data
*.log
*.map

# Build output
browser/out/
ui/out/
runtime/out/
vscodex/out/
vscodex/*.vsix
vscodex/webview/webview-bundle.js    
vscodex/webview/webview-bundle.js.map

# Not relevant for the project
prompts.txt
llm-prompts/
**/z-*
**/zz-*
**/zzz-*

# System files
.vscode/
vscodex/.vscode
**/*.code-workspace

#don't include the examples - they have a separate repo
examples/
